/* You can add global styles to this file, and also import other style files */

html {
    background: radial-gradient(100% 316.05% at 0% 0%, #002C32 0%, #001C20 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin-top: 30px;
    margin-left: 50px;
}