<div class="window centered">
<p class="cmdstart">root&#64;baglayan</p>
<p>:</p>
<p class="shell-info">~$</p>
<p class="command"> info</p>
<br /><br />
<p>meriç bağlayan</p>
<br />
<p>computer engineer</p>
<br /><br />
<p class="cmdstart">root&#64;baglayan</p>
<p>:</p>
<p class="shell-info">~$</p>
<p class="command"> ls</p>
<br /><br />
<a href="https://github.com/baglayan">github</a>
<br />
<a href="https://linkedin.com/in/baglayan">linkedin</a>
<br />
<a href="mailto:meric.baglayan@outlook.com">email</a>
<br />
<a href="https://firebasestorage.googleapis.com/v0/b/baglayan-dev.appspot.com/o/meric-resume-2024-05-29.pdf?alt=media&token=c5473f85-d98e-4b5e-92c2-fa019817c093">resume</a>
</div>