<div class="window centered">
<p class="cmdstart">root&#64;baglayan</p>
<p>:</p>
<p class="shell-info">~$</p>
<p class="command"> info</p>
<br /><br />
<p>meriç bağlayan</p>
<br />
<p>computer engineer</p>
<br /><br />
<p class="cmdstart">root&#64;baglayan</p>
<p>:</p>
<p class="shell-info">~$</p>
<p class="command"> ls</p>
<br /><br />
<a href="https://github.com/baglayan">github</a>
<br />
<a href="https://linkedin.com/in/baglayan">linkedin</a>
<br />
<a href="mailto:meric.baglayan@outlook.com">email</a>
<br />
<a href="https://firebasestorage.googleapis.com/v0/b/baglayan-dev.appspot.com/o/meric-resume-24-02.pdf?alt=media&token=7fee45b4-91ef-4739-a887-6169f7690d30">resume</a>
</div>