<div class="window centered">
<p class="cmdstart">root&#64;baglayan</p>
<p>:</p>
<p class="shell-info">~$</p>
<p class="command"> info</p>
<br /><br />
<p>meriç bağlayan</p>
<br />
<p>computer engineer</p>
<br /><br />
<p class="cmdstart">root&#64;baglayan</p>
<p>:</p>
<p class="shell-info">~$</p>
<p class="command"> ls</p>
<br /><br />
<a href="https://github.com/baglayan">github</a>
<br />
<a href="https://linkedin.com/in/baglayan">linkedin</a>
<br />
<a href="mailto:meric.baglayan@outlook.com">email</a>
<br />
<a href="https://firebasestorage.googleapis.com/v0/b/baglayan-dev.appspot.com/o/meric-resume-2024-07-03.pdf?alt=media&token=a48adbc7-58d8-44b2-9639-a6390556b7d6">resume</a>
</div>