p {
    display: inline;
    color: white;
    font-family: 'Monaco', 'Consolas', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
}

a {
    color: white;
    font-family: 'Monaco', 'Consolas', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
}

.cmdstart {
    color: #00DFDF
}

.command {
    color: #EECD1E
}