@font-face {
    font-family: 'Monaspace';
    src: url('../../assets/fonts/Monaspace/MonaspaceNeon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p,
a {
    color: #E5E5E5;
    font-family: 'Monaspace', 'Monaco', 'Consolas', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 2.6vw;
    line-height: 4vw;
}

p {
    display: inline;
}

.cmdstart {
    color: #87BBA2
}

.command {
    color: #FCA311
}

.shell-info {
    color: #6A2E35;
}

.window {
    padding: 3em;
    width: 50vw;
    background: #002429;
    border-radius: 2em;
    border-top: 10em;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}